<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__info">
            <h2 class="callout__heading">Ready To Get Started</h2>
            <p class="callout__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In magnam nesciunt tenetur quis consequuntur dicta?</p>
        </div>

        <div class="callout__btn">
            <a href="#"><button class="btn btn--secondary btn--block">get started</button></a>
        </div>
    </div>
    
</div>